checkpoint/
.ipynb_checkpoints/
nq_data*.txt
models/
samples/
im2txt*/
__pycache__/
!vtensorflow/models/
images/
visual-questioner-env/
visual-questioner-py2-env/
cookies.txt
nq/
names/male.txt
names/female.txt
vq-pretrained.zip
yt_thumbnail.png
